*.class
ProjetCompil/Syntaxe/Src/Lexical.java
ProjetCompil/Syntaxe/Src/Lexical.java~
ProjetCompil/Syntaxe/Src/parser.java
ProjetCompil/Syntaxe/Src/parser.java~
ProjetCompil/Syntaxe/Src/sym.java
ProjetCompil/Syntaxe/Src/sym.java~
.classpath
.project
ProjetCompil/sublime.*
ProjetCompil/Html/*/
ProjetCompil/Html/*.html
ProjetCompil/Html/*.css
ProjetCompil/Html/*.js
ProjetCompil/Cobertura/CouvertureVerif
ProjetCompil/Cobertura/CouvertureGencode
ProjetCompil/Cobertura/couverture.ser
/bin/
ProjetCompil/Global/Bin/ima
Documentation/*.txt
ProjetCompil/Cobertura/CouvertureGencode/

